---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">
     {% if site.title == "blank" %}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{% else %}{{ site.title }}{% endif %}
    </h1>
     <p class="desc">{{ page.description }}</p>
  </header>

  <article>
    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
      {% if page.profile.image %}
        <img class="img-fluid z-depth-1 rounded" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
      {% endif %}
      {% if page.profile.address %}
        <div class="address">
          {{ page.profile.address }}
        </div>
      {% endif %}
    </div>
    {% endif %}

    <div class="clearfix">
      {{ content }}
      {% if page.social %}
      <div class="social">
        <div class="contact-icons">
          {% include social.html %}
        </div>
<!--        <div class="contact-note">{{ site.contact_note }}</div>-->
      </div>
      {% endif %}
    </div>
<!--    {% if page.news %}-->
<!--      {% include news.html %}-->
<!--    {% endif %}-->
    <div class="news">
        <h2>Education</h2>
        <div class="table-responsive">
          <table class="table table-sm table-borderless">
              <tbody class="row-hover">
            <tr class="row-2 even">
              <td class="column-1">since 9/2019</td><td class="column-2">Ph.D. student in Physics, <a href="https://physics.columbia.edu" target="_blank" rel="noopener noreferrer">Columbia University</a>, New York<br />
              Advisor: Prof. Andrew Millis</td>
            </tr>
            <tr class="row-2 even">
              <td class="column-1">9/2015-6/2019</td><td class="column-2">B.S in Physics, <a href="http://phys.fudan.edu.cn/eng/main.htm" target="_blank" rel="noopener noreferrer">Fudan University</a>, Shanghai<br />
              Advisor: Prof. Lei Shu</td>
            </tr>
              </tbody>
          </table>
        </div>
    </div>

    {% if page.selected_papers %}
      {% include selected_papers.html %}
    {% endif %}
    <div class="news">
        <h2>Teaching</h2>
        <div class="table-responsive">
          <table class="table table-sm table-borderless">
              <tbody class="row-hover">
            <tr class="row-1 odd">
              <td class="column-1">Spring 2021</td><td class="column-2">TA 1494 Intro to Experimental Phys-Lab</td>
            </tr>
            <tr class="row-1 odd">
              <td class="column-1">Fall 2020</td><td class="column-2">TA 4023 Thermal and Statistical Physics</td>
            </tr>
            <tr class="row-1 odd">
              <td class="column-1">Fall 2020</td><td class="column-2">TA 1494 Intro to Experimental Phys-Lab</td>
            </tr>
            <tr class="row-1 odd">
              <td class="column-1">Spring 2020</td><td class="column-2">TA 1292 General Physics II Laboratory</td>
            </tr>
              </tbody>
          </table>
        </div>
    </div>
    <div class="news">
        <h2>Talks</h2>
        <div class="table-responsive">
          <table class="table table-sm table-borderless">
              <tbody class="row-hover">
            <tr class="row-2 even">
              <td class="column-1">Jun 2021</td><td class="column-2">Hartree-Fock Study of the Moire Hubbard Model for Twisted Bilayer Transition Metal Dichalcogenides<br />
              MRSEC Symposium, Columbia University</td>
            </tr>
            <tr class="row-2 even">
              <td class="column-1">Feb 2021</td><td class="column-2">Twisted bilayer WSe2 in the Hartree Fock approximationn<br />
              MRSEC Symposium, Columbia University</td>
            </tr>
              </tbody>
          </table>
        </div>
    </div>

  </article>

</div>
